@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<h1> All Stylists </h1>

<div class="left-container">
  <h3> Current Available Stylists: @Model.Count </h3>
  @if(@Model.Count == 0)
  {
    <h3 class="none"> No Stylists Available</h3>
  }

  <ul>
    @foreach(Stylist stylist in Model)
    {
      <li>@Html.ActionLink($"{stylist.FirstName} {stylist.LastName}", "Details", new { stylistId = stylist.StylistId })</li>
    }
  </ul>
</div>

<div class="right-container">
  @if(@Model.Count > 0)
  {
    <p>@Html.ActionLink("Add a New Client", "Create", "Clients", null, new { @class = "btn btn-primary" })</p>
  }

  <p>@Html.ActionLink("Add a New Stylist", "Create", "Stylists", null, new { @class = "btn btn-success" })</p>
  <p>@Html.ActionLink("Go back to Homepage", "Index", "Home", null, new { @class = "btn btn-info" })</p>
</div>
